<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="colouredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${date:format=dd.MM.yyyy HH\:mm\:ss}] [${level}] ${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="logFile" xsi:type="File" fileName="client-main.log" layout="[${date:format=dd.MM.yyyy HH\:mm\:ss}] [${level}] ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="colouredConsole" />
    <logger name="*" minlevel="Debug" writeTo="logFile" />
  </rules>
</nlog>